<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Shopping List</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='css/select2.css') }}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

  {% extends 'base.html' %} {% block content %}
</head>

<body>
  <br />
  <div class="container">
    <!--------------------->
    <!--- Auto ADD FORM --->
    <!--------------------->
    <h2>Add Items:</h2>
    <div class="row">
      <div class="col-sm">
        <form method="POST">
          {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} <br>{{ form.name }}
          <br />
          <br />
          {{ form.aqty.label(class="form-label") }} {{
          form.aqty(class="form-control w-25", value=1) }}
          <br />
          {{ form.submit(class="btn btn-secondary") }}
        </form>
        <script>
          $(document).ready(function () {
            $("#name").select2({
              // init Select2 on form's name field
              placeholder: "{{ form.name.label.text }}",
              allowClear: true,
              width: "50%",
            });
          });
        </script>
      </div>
      <br />
      <!--------------------->
      <!-- MANUAL ADD FORM -->
      <!--------------------->
      <div class="col-sm">
        <form method="POST">
          {{ form2.hidden_tag() }} {{ form2.item.label(class="form-label") }}
          <br />
          {{ form2.item(class="form-control w-50") }} <br>

          {{ form2.aisle(class="form-control w-50") }} <br>{{ form2.bqty.label(class="form-label") }} {{
          form2.bqty(class="form-control w-25", value=1) }}

          <br />
          {{ form2.submit1(class="btn btn-secondary") }}
        </form>
      </div>
    </div>
  </div>
  </div>
  <br />
  <!------------------------->
  <!-- SHOPPING LIST TABLE -->
  <!------------------------->
  <div id="dynamic" class="container">
    {% include 'shopping/shopping_list_table.html' %}
  </div>
  <script>
    $('#dynamic').on('click', '.aj', function () {
      idd = $(this).attr("id")
      $.ajax({
        type: "GET",
        url: "/delete_test",
        contentType: "application/json",
        data: {
          del_id: $(this).attr("id")
        },
        success: function (response) {
          document.getElementById("dynamic").innerHTML = response;
        },
      });
    });
    $(document).ready(function () {
      $("#aisle").select2({
        // init Select2 on form's name field
        placeholder: "Aisle",
        allowClear: true,
        width: "50%",
      });
    });
  </script>
</body>
{% endblock %}

</html>