<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      href="{{ url_for('static', filename='css/select2.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

    <title>Shopping List</title>

    {% extends 'base.html' %} {% block content %}
  </head>
  <body>
    <br />
    <h1>Edit Ingredient:</h1>
    <h3>Currently Editing:</h3>
    <form method="POST">
      {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} <br />
      {{ form.name(class="form-control w-25", placeholder=editing_item.name) }}
      <br />
      {{ form.hidden_tag() }} {{ form.unit.label(class="form-label") }} <br />
      {{ form.unit(class="form-control w-25") }}
      <br />
      {{ form.hidden_tag() }} {{ form.aisle.label(class="form-label") }} <br />
      {{ form.aisle(class="form-control w-25") }}
      <br /><br />
      {{ form.submit(class="btn btn-secondary") }}
    </form>
    <script>
      $(document).ready(function () {
        $("#unit").select2({
          // init Select2 on form's name field
          placeholder: "{{ editing_item.unit.label }}",
          allowClear: true,
          width: "10%",
        });
      });
      $(document).ready(function () {
        $("#aisle").select2({
          // init Select2 on form's name field
          placeholder: "{{ editing_item.aisle.name}}",
          allowClear: true,
          width: "10%",
        });
      });
    </script>
  </body>
  {% endblock %}
</html>
