<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List</title>


    {% extends 'base.html' %} {% block content %}
  </head>
  <body>
    <br />
    <h1>Edit Ingredient:</h1>
    <h3>Currently Editing:</h3>
    {{editing_item.name}} - {{editing_item.unit.label}} -
    {{editing_item.aisle.name}}
    <form method="POST">
      {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} <br />{{
      form.name(class="form-control w-25") }} <br />
      {{ form.hidden_tag() }} {{ form.unit.label(class="form-label") }} <br />
      {{ form.unit(class="form-control w-25") }}
      <br />
      {{ form.hidden_tag() }} {{ form.aisle.label(class="form-label") }} <br />
      {{ form.aisle(class="form-control w-25") }}
      <br /><br />
      {{ form.submit(class="btn btn-secondary") }}
    </form>
    <script>
      $(document).ready(function () {
        $("#unit").select2({
          // init Select2 on form's name field
          placeholder: "{{ form.unit.label.text }}",
          allowClear: true,
          width: "10%",
        });
      });
      $(document).ready(function () {
        $("#aisle").select2({
          // init Select2 on form's name field
          placeholder: "{{ form.aisle.label.text }}",
          allowClear: true,
          width: "10%",
        });
      });
    </script>
  </body>
  {% endblock %}
</html>
