<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List</title>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      href="{{ url_for('static', filename='css/select2.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

    {% extends 'base.html' %} {% block content %}
  </head>
  <body>
    <form method="POST">
      {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} <br />{{
      form.name(class="form-control w-25") }}
      <br />
      <br />
      {{ form.hidden_tag() }} {{ form.unit.label(class="form-label") }} {{
      form.unit(class="form-control w-25") }}
      <br />
      {{ form.hidden_tag() }} {{ form.aisle.label(class="form-label") }} {{
      form.aisle(class="form-control w-25") }}
      <br />
      {{ form.submit(class="btn btn-secondary") }}
    </form>
    <script>
      $(document).ready(function () {
        $("#unit").select2({
          // init Select2 on form's name field
          placeholder: "{{ form.unit.label.text }}",
          allowClear: true,
          width: "10%",
        });
      });
      $(document).ready(function () {
        $("#aisle").select2({
          // init Select2 on form's name field
          placeholder: "{{ form.aisle.label.text }}",
          allowClear: true,
          width: "10%",
        });
      });
    </script>
    <!------------------------->
    <!-- SHOPPING LIST TABLE -->
    <!------------------------->
    <div class="container">
      <br />
      <br />
      <h1>Ingredients:</h1>
      <table class="table table-hover table-bordered table-striped">
        {% for ingredient_table in ingredient_list %}
        <tr>
          <td>{{ingredient_table.id}} {{ingredient_table.name}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
  {% endblock %}
</html>
