<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List</title>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      href="{{ url_for('static', filename='css/select2.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
    
    {% extends 'base.html' %} {% block content %}
  </head>
  <body>
    <br>
   <a class="btn btn-secondary" href="{{ url_for('list') }}" role="button">Return to add items</a>

    <br />
    <!------------------------->
    <!-- SHOPPING LIST TABLE -->
    <!------------------------->
    <div class="container">
      <h1>Remaining Items:</h1>
      <table class="table table-hover table-bordered table-striped">
        {% for shopping_list in our_add %}
        <tr>
          <td>
            <b>{{'%0.0f'|format(shopping_list.total|float) }}</b> {{shopping_list.unit_name }} - <b>{{
            shopping_list.ingredient_name }}</b> - ({{ shopping_list.aisle_name }}) <a href="{{url_for('delete_shopping_item', id=shopping_list.id)}}">
              Delete</a
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="container">
      <h1>Previously Deleted:</h1>
      <table class="table table-hover table-bordered table-striped" style="text-decoration: line-through">
        {% for dshopping_list in deleted_items %}
        <tr>
          <td>
            <b>{{'%0.0f'|format(dshopping_list.dtotal|float) }}</b> {{dshopping_list.unit_name }} - <b>{{
            dshopping_list.ingredient_name }}</b> - ({{ dshopping_list.aisle_name }})
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
  {% endblock %}
</html>
