<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List</title>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      href="{{ url_for('static', filename='css/select2.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>

    {% extends 'base.html' %} {% block content %}
  </head>
  <body>
    <!------------>
    <!-- RECIPE -->
    <!------------>
    <div class="container">
      <h1>{{title}}</h1>
      <table class="table table-hover table-bordered table-striped">
        {% for i in iquery %}
        <tr>
          <td>
            <b>{{i.qty}}</b>-{{i.ingredient.unit.label}}
            <b>{{i.ingredient.name}}</b>
            {{i.unit_suffix}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
  {% endblock %}
</html>
