<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=2000px">
  <title>Weekly Plan</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
  <link href="{{ url_for('static', filename='css/weekly_style_new.css') }}" rel="stylesheet" />
</head>
<body>
      {% include 'navbar-no-response.html' %}
  <br>
  <div class="container-table">
    <div class="row">
      <div class="column">
        <h3>Monday</h3>
        <form method="POST">
          {{ monday_form.hidden_tag() }}{{
          monday_form.rqty(class="half-box-form") }}x
          {{ monday_form.hidden_tag() }}{{
          monday_form.name(class="full-box-form", id="monday") }} 
          <br>{{ monday_form.submit(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Tuesday</h3>
        <form method="POST">
          {{ tuesday_form.hidden_tag() }}{{
          tuesday_form.rqty2(class="half-box-form") }}x
          {{ tuesday_form.hidden_tag() }}{{
          tuesday_form.name2(class="full-box-form", id="tuesday") }}
          <br>{{ tuesday_form.submit2(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Wednesday</h3>
        <form method="POST">
          {{ wednesday_form.hidden_tag() }}{{
          wednesday_form.rqty3(class="half-box-form") }}x
          {{ wednesday_form.hidden_tag() }} {{
          wednesday_form.name3(class="full-box-form", id="wednesday") }}
          <br>{{ wednesday_form.submit3(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Thursday</h3>
        <form method="POST">
          {{ thursday_form.hidden_tag() }}{{
          thursday_form.rqty4(class="half-box-form") }}x
          {{ thursday_form.hidden_tag() }} {{
          thursday_form.name4(class="full-box-form", id="thursday") }}
          <br>{{ thursday_form.submit4(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Friday</h3>
        <form method="POST">
          {{ friday_form.hidden_tag() }}{{
          friday_form.rqty5(class="half-box-form") }}x
          {{ friday_form.hidden_tag() }}  {{
          friday_form.name5(class="full-box-form", id="friday") }}
          <br>{{ friday_form.submit5(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Saturday</h3>
        <form method="POST">
          {{ saturday_form.hidden_tag() }} {{
          saturday_form.rqty6(class="half-box-form") }}x
          {{ saturday_form.hidden_tag() }}  {{
          saturday_form.name6(class="full-box-form", id="saturday") }}
          <br>{{ saturday_form.submit6(class="btn btn-secondary")}}
        </form>
      </div>
      <div class="column">
        <h3>Sunday</h3>
        <form method="POST">
          {{ sunday_form.hidden_tag() }}{{
          sunday_form.rqty7(class="half-box-form") }}x
          {{ sunday_form.hidden_tag() }} {{
          sunday_form.name7(class="full-box-form", id="sunday") }}
          <br>{{ sunday_form.submit7(class="btn btn-secondary")}}
        </form>
      </div>
      </table>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#monday").select2({
        placeholder: "{{ monday_form.name.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#tuesday").select2({
        placeholder: "{{ tuesday_form.name2.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#wednesday").select2({
        placeholder: "{{ wednesday_form.name3.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#thursday").select2({
        placeholder: "{{ thursday_form.name4.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#friday").select2({
        placeholder: "{{ friday_form.name5.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#saturday").select2({
        placeholder: "{{ saturday_form.name6.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#sunday").select2({
        placeholder: "{{ sunday_form.name7.label.text }}",
        allowClear: true,
        width: "150px",
      });
    });
  </script>
</body>

</html>