<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=3000px" />
  <title>Weekly Plan</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
  <link href="{{ url_for('static', filename='css/weekly_style_new.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bs-non-responsive.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/non-responsive.css') }}" rel="stylesheet" />
  <style>
  #dynamic {
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
  }
#serving-line {
  vertical-align: middle;
}
  </style>
</head>

<body>
  {% include 'navbar-no-response.html' %}
  <br />
  <div class="container-table">
    <div class="row">
      <div class="column-double">
        <form method="POST">
          <div class="column-heading">{{ form.hidden_tag() }}{{ form.rqty(class="half-box-form") }}x
            {{form.name(class="full-box-form", id="recipe") }}
            <br>
          <span id="serving-line"> Servings (for 1x):</span>      <span id="dynamic"></span></div>
          <div class="column-heading">
            {{form.day(class="full-box-form") }} {{
            form.submit(class="btn btn-secondary")}}
            <div id="dynamic"></div>
          </div>
      </div>
      <div class="column-day">
        <b>Monday</b> - {% for m in monday_meals %} {{m.rname}}, {% endfor %} <br>
        <b>Tuesday</b> - {% for m in tuesday_meals %} {{m.rname}}, {% endfor %} <br>
        <b>Wednesday</b> - {% for m in wednesday_meals %} {{m.rname}}, {% endfor %} <br>
        <b>Thursday</b> - {% for m in thursday_meals %} {{m.rname}}, {% endfor %} <br>
        </div>
      <div class="column-day">
        <b>Friday</b> - {% for m in friday_meals %} {{m.rname}}, {% endfor %} <br>
        <b>Saturday</b> - {% for m in saturday_meals %} {{m.rname}}, {% endfor %} <br>
        <b>Sunday</b> - {% for m in sunday_meals %} {{m.rname}}, {% endfor %} <br>
      </div>
    </div>
    <br>
    </form>
    <div class="row">
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Monday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for mm in monday_meals %}
              <td>
                {{'%0.01f'|format(mm.qty|float)}}x <b>{{mm.rname}}</b> ({{mm.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =mm.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Tuesday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for tm in tuesday_meals %}
              <td>
                {{'%0.01f'|format(tm.qty|float)}}x <b>{{tm.rname}}</b> ({{tm.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =tm.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Wednesday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for wm in wednesday_meals %}
              <td>
                {{'%0.01f'|format(wm.qty|float)}}x <b>{{wm.rname}}</b> ({{wm.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =wm.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Thursday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for thm in thursday_meals %}
              <td>
                {{'%0.01f'|format(thm.qty|float)}}x <b>{{thm.rname}}</b> ({{thm.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =thm.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Friday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for fm in friday_meals %}
              <td>
                {{'%0.01f'|format(fm.qty|float)}}x <b>{{fm.rname}}</b> ({{fm.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =fm.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Saturday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for sam in saturday_meals %}
              <td>
                {{'%0.01f'|format(sam.qty|float)}}x <b>{{sam.rname}}</b> ({{sam.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =sam.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Sunday Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for sum in sunday_meals %}
              <td>
                {{'%0.01f'|format(sum.qty|float)}}x <b>{{sum.rname}}</b> ({{sum.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =sum.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Extra Meals:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for em in extra_meals %}
              <td>
                {{'%0.01f'|format(em.qty|float)}}x <b>{{em.rname}}</b> ({{em.servings}}) <a
                  href="{{url_for('delete_weekly_item', id =em.id)}}"><button>Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Monday Ingredients:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for mi in monday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(mi.total|float)}}</b> {{mi.unit_name}} x
                <b>{{mi.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Tuesday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for tui in tuesday_ingredients %}
              <td><b>{{'%0.01f'|format(tui.total|float)}}</b> {{tui.unit_name}} x <b>{{tui.ingredient_name}}</b></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Wednesday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for wi in wednesday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(wi.total|float)}}</b> {{wi.unit_name}} x
                <b>{{wi.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Thursday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for thi in thursday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(thi.total|float)}}</b> {{thi.unit_name}} x
                <b>{{thi.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Friday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for fi in friday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(fi.total|float)}} </b>{{fi.unit_name}} x
                <b>{{fi.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Saturday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for sai in saturday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(sai.total|float)}}</b> {{sai.unit_name}} x
                <b>{{sai.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Sunday Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for sui in sunday_ingredients %}
              <td>
                <b>{{'%0.01f'|format(sui.total|float)}}</b> {{sui.unit_name}} x
                <b>{{sui.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Extra Ingredients:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {% for ei in extra_ingredients %}
              <td>
                <b>{{'%0.01f'|format(ei.total|float)}} </b>{{ei.unit_name}} x
                <b>{{ei.ingredient_name}}</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#recipe").select2({
        placeholder: "{{ form.name.label.text }}",
        allowClear: true,
        width: "150px",
      });
      $("#recipe").change(function () {
        $.ajax({
          type: "POST",
          url: "/serving_label_update",
          dataType: "json",
          data: JSON.stringify(
            $("#select2-recipe-container").attr("title")
          ),
          contentType: "application/json;charset=UTF-8",
          success: function (data) {
            document.getElementById("dynamic").innerHTML = data;
          },
        });
      });
      
    });
  </script>
</body>

</html>