<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Shopping List</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='css/select2.css') }}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
  {% extends 'base.html' %} {% block content %}
  <style>
    #dynamic {
      margin: auto;
    }
  </style>
</head>

<body><b></b>

  <!------------>
  <!-- RECIPE -->
  <!------------>
  <div class="container">
    <h1>{{title}} (Edit Mode)</h1>
    <a href="{{url_for('recipe_edit', id=r.id)}}">
      <h6>Return</h6>
      <a href="{{url_for('delete_recipe_confirmation', id=r.id)}}"></a>
      <h6>Delete Recipe</h6>
    </a>
    </a>

    <br>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <h2>Add Instruction Step:</h2>
            <form method="POST">
              <div class="col">
                {{ form.hidden_tag() }} {{ form.instruction(class="form-control")}}
              </div>
              <div class="col">{{ form.submit3(class="btn btn-secondary mt-2") }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="row">
              <div class="col-5">
                  <h2>Add Color Tag:</h2>
                  <form method="POST">
                      <div class="col">
                          {{ form.hidden_tag() }} {{ form2.name(class="form-control") }}
                      </div>
                      <div class="col">{{ form2.submit(class="btn btn-secondary") }}
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
    <br />

</body>
{% endblock %}

</html>