<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Shopping List</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='css/select2.css') }}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.js"></script>
  {% extends 'base.html' %} {% block content %}
  <style>
    #dynamic {
      margin: auto;
    }
  </style>
</head>

<body><b></b>
  <!------------>
  <!-- RECIPE -->
  <!------------>
  <div class="container">
    <h1>{{title}} (Edit Mode)</h1>
    <a href="{{url_for('recipe', id=r.id)}}">
      <h6>Return</h6>
      <a href="{{url_for('delete_recipe_confirmation', id=r.id)}}"></a>
      <h6>Delete Recipe</h6>
    </a>
    </a>
    <div class="row">
      <div class="col-4">
        <h5>Recipe Info:</h5>
      </div>
      <div class="col-4">
        <h5>Per Serving Macros:</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <b>Course: </b> {{r.course}} <br>
        <b>Servings: </b> {{r.servings}} <br>
        <b>Serving Size: </b> {{r.serving_size}} <br>
        <b>Cost to Make: </b>{{'$%0.2f'|format(r.get_total_cost())}}
      </div>
      <div class="col-2">
        <b>Protein:</b> {{'%0.0fg'|format((r.get_total_protein())/r.servings)}} <br>
        <b>Carbs:</b> {{'%0.0fg'|format((r.get_total_carbs())/r.servings)}} <br>
        <b>Fat:</b> {{'%0.0fg'|format((r.get_total_fat())/r.servings)}} <br>
      </div>
      <div class="col-2">
        <b>Calories:</b> {{'%0.0f'|format((r.get_total_calories())/r.servings)}} <br>
        <b>Fiber:</b> {{'%0.0fg'|format((r.get_total_fiber())/r.servings)}} <br>
        <b>Sugar:</b> {{'%0.0fg'|format((r.get_total_sugar())/r.servings)}} <br>
      </div>
    </div>
    <br>
    <h2>Update Recipe Info</h2>
    <form method="POST">
      <div class="row">
        <div class="col">
          {{ form.hidden_tag() }} {{ form2.recipe_name(class="form-control", value=r.name) }}
        </div>
        <div class="col-2">
          {{ form2.course(class="form-control", valuse=r.course) }}
        </div>
        <div class="col-1">
          {{ form2.servings(class="form-control", value=r.servings)}}
        </div>
        <div class="col-3">
          {{ form2.serving_size(class="form-control", value=r.serving_size)}}
        </div>
        <div class="col">{{ form2.submit2(class="btn btn-secondary") }}</div>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-5">
            <h2>Add Ingredients:</h2>
            <form method="POST">
              <div class="col">
                {{ form.hidden_tag() }} {{ form.name(class="form-control",
                id="selector") }}
              </div>
              <div class="row">
                <div class="col-4">
                  {{ form.qty(class="form-control ", placeholder="Qty") }}
                </div>
                <div class="col" , id="dynamic">
                </div>
              </div>
              <div class="col">
                {{ form.suffix(class="form-control", placeholder='Eg. room temp')}}
              </div>
              <div class="col">{{ form.submit(class="btn btn-secondary mt-2") }}
              </div>
            </form>
          </div>
          <div class="col">
            <h2>Add Instruction Step:</h2>
            <form method="POST">
              <div class="col">
                {{ form3.hidden_tag() }} {{ form3.instruction(class="form-control") }}
              </div>
              <div class="col">{{ form3.submit3(class="btn btn-secondary mt-2") }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-5">
        <h2>Edit Ingredients:</h2>
        <table class="table table-hover table-bordered table-striped">
          {% for i in iquery %}
          <tr>
            <td>
              <b><a href="{{url_for('recipe_ingredient_move_down', rid=i.rid, id=i.id)}}"><img
                    src="{{ url_for('static', filename='images/down_arrow.png') }}" width="10" /></a>{{(' %0.0f
                '|format(i.qty)) if (i.qty%1==0) else (' %0.2f '|format(i.qty))}}</b>{{i.ingredient.unit.label}}
              <b>{{i.ingredient.name}}</b>
              {{i.unit_suffix}}<a href="{{url_for('recipe_delete_ingredient',id=i.id)}}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-6">
        <h2>Edit Instructions:</h2>
        <table class="table table-hover table-bordered table-striped">
          {% for in in instruct_query %}
          <tr>
            <td>
              <a href="{{url_for('recipe_instruction_move_down', rid=in.rid, id=in.id)}}"><img
                  src="{{ url_for('static', filename='images/down_arrow.png') }}" width="10" /></a>{{in.instruction}}<a
                href="{{url_for('recipe_delete_instruction',id=in.id)}}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#selector").select2({
        placeholder: "{{ form.name.label.text }}",
        allowClear: true,
        width: "100%",
      });
      $("#selector").change(function () {
        $.ajax({
          type: "POST",
          url: "/unit_label_update",
          dataType: "json",
          data: JSON.stringify(
            $("#select2-selector-container").attr("title")
          ),
          contentType: "application/json;charset=UTF-8",
          success: function (data) {
            document.getElementById("dynamic").innerHTML = data;
          },
        });
      });
    });
  </script>
</body>
{% endblock %}

</html>